


<li>
  <article class="snippet">
    <img
      src="{{ post.data.image }}"
      alt="{{ post.data.imageAlt }}"
      class="snippet__image"
    />
    <h3 class="snippet__title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <p class="snippet__body">
      {{ post.data.description }}
    </p>
    <a href="/blog-post/" class="cs-button-solid" onclick="updateTitle('{{ post.data.title }}', event)">READ MORE</a>
  </article>
  <p>{{ post.data.body | safe }}</p>
</li>

<script>
  function updateTitle(title, event) {
    // if(localStorage.getItem("page") == null){
    //   locatStorage.set("page", "not null")
    // } else {
    //   locatStorage.set("page", "not null")
    // }
    event.preventDefault(); // Prevent the default link behavior

    // fetch('http://localhost:3000/test-route', {
    // method: 'POST'
    // })
    // .then(response => response.text())
    // .then(data => console.log(data))
    // .catch(error => console.error('Error:', error));
    
    fetch('http://localhost:3000/update-md', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({ title: title })
})
.then(()=> {
  window.location.href = '/blog-post/';
})
    .then(response => response.text())
    .then(data => {
        alert(data);
        // Optionally, redirect after the update is complete
        window.location.href = '/blog-post/';
    })
    .catch(error => {
        console.error('Error:', error);
    });
  }


  //  .then(()=> {
  //     window.location.href = '/blog-post/';
  //   })
</script>
