---
title: Lucid Web Designs
layout: "base.njk"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/page/blog.css" />
{% endblock %}

<article class="main-article">
  <div class="container container--narrow flow">
    <h1 class="article-title">{{ post.data.title }}</h1>
    <figure class="main-article__figure">
      <!-- <img src="{{ image }}" alt="{{ imageAlt }}" /> -->
      <img
        src="{{ post.data.image }}"
        alt="{{ post.data.imageAlt }}"
        class="snippet__image"
      />
      <figcaption>{{ imageAlt }}</figcaption>
    </figure>

    {{ content | safe }}
  </div>
</article>
