<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/pixelbulb2.png"
    />
    <link rel="stylesheet" href="/assets/css/core.css" />
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const navItems = document.querySelectorAll(".nav-item");

        // Function to set the active item based on the current URL
        function setActiveNavItem() {
          const currentPath = window.location.pathname;

          navItems.forEach((item) => {
            const link = item.querySelector("a");
            const linkPath = link.getAttribute("href");

            if (
              linkPath === currentPath ||
              (linkPath === "/" && currentPath === "/")
            ) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        }

        // Set the active item on initial load
        setActiveNavItem();

        // Set the active item just before the page unloads
        window.addEventListener("beforeunload", function () {
          navItems.forEach((item) => {
            const link = item.querySelector("a");
            const linkPath = link.getAttribute("href");

            if (
              linkPath === window.location.pathname ||
              (linkPath === "/" && window.location.pathname === "/")
            ) {
              item.classList.add("active");
            } else {
              item.classList.remove("active");
            }
          });
        });

        // Set the active item on click without causing a blink
        navItems.forEach((item) => {
          item.addEventListener("click", function () {
            navItems.forEach((navItem) => navItem.classList.remove("active"));
            this.classList.add("active");
          });
        });
      });
    </script>

    <script>
      // function pauseToggler(element) {
      //   if (element.classList.contains("pointer-none")) {
      //     element.classList.remove("pointer-none");
      //   } else {
      //     element.classList.add("pointer-none");
      //   }
      //   console.log("hi");
      // }
      // const elements = document.querySelectorAll("nav-toggle");

      // // Loop through the NodeList and attach the event listener to each element
      // elements.forEach((element) => {
      //   element.addEventListener("click", () => pauseToggler(element));
      // });

      // Select all elements you want to add the event listener to
      document.addEventListener("DOMContentLoaded", function () {
        const toggler = document.getElementById("toggler-btn");
        let clicked = false;
        if (toggler) {
          toggler.addEventListener("click", function () {
            if (toggler.classList.contains("empty-class")) {
              toggler.classList.remove("empty-class");
              toggler.classList.add("pointer-none");
            } else {
              toggler.classList.add("empty-class");
              setTimeout(() => {
                toggler.classList.remove("pointer-none");
              }, 1250);
            }
          });
        } else {
          console.error("Element with id 'nav-toggle' not found.");
        }
      });

      // Loop through the NodeList and attach the event listener to each element
    </script>

    <style>
      .bg-curve-white {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
      }

      .bg-curve-white svg {
        position: relative;
        display: block;
        width: calc(300% + 1.3px);
        height: 600px;
        transform: rotateY(180deg);
        z-index: -1;
      }

      .bg-curve-white-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .bg-curve-white-bottom svg {
        position: relative;
        display: block;
        width: calc(245% + 1.3px);
        height: 600px;
      }

      .bg-curve-white .shape-fill,
      .bg-curve-white-bottom .shape-fill {
        fill: #ffffff;
        z-index: -1;
      }

      .bg-curve-gradient {
        fill: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(1, 60, 132, 1) 0%,
          rgba(0, 149, 255, 1) 100%
        );
        z-index: -1;
      }
    </style>
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
