<footer class="site-footer pt-sm">
  <div class="upper-footer">
    <div>
      <div class="footer-logo">
        <object
          data="../assets/images/bulbtext.svg"
          width="200"
          height="75"
        ></object>
      </div>
      <ul>
        <li>toby.webhelp@gmail.com</li>
        <li>512-645-9719</li>
      </ul>
    </div>
    <div>
      <h3>Navigation</h3>
      <hr class="footer-nav-underline" />
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <hr class="footer-divider" />
  <div class="copyright-container">
    <object
      data="../assets/images/bulbtext.svg"
      width="200"
      height="40"
    ></object>
    <p>
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      . Lucid Web Designs . All rights reserved.
    </p>
  </div>
</footer>
