/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* test */
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .cs-price-details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .cs-item {
    margin: 0;
  }
  #pricing {
    /* padding: var(--sectionPadding); */
    padding-bottom: 10vw;
    /* background-color: #f7f7f7; */
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #pricing .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #pricing .cs-content {
    /* set text align to center if content needs to be center aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
  }
  #pricing .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #pricing .cs-title {
    margin: 0;
  }
  #pricing .cs-wrapper {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #pricing .cs-ul {
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #pricing .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    max-width: 21.8125rem;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #pricing .cs-icon {
    width: 1.125rem;
    height: auto;
    display: block;
  }
  #pricing .cs-card-group {
    gap: 2em;
    width: 100%;
    max-width: 57rem;
    margin: 3rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    /* 32px - 40px top *
            /* 16px - 32px left & right */
    padding: clamp(2rem, 2vw, 2.5rem) clamp(1rem, 1.5vw, 2rem);
    background-color: #ffffff;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border: 2px solid rgba(222, 242, 255, 0.75);
    border-radius: 5px;
  }
  #pricing .cs-item.cs-popular {
    background-color: #fff;
    /* 48px - 64px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(3rem, 6vw, 4rem) clamp(1rem, 1.5vw, 2rem);
    box-shadow: var(--item-box-shadow);

    margin: 0 25px;
    z-index: 1;
  }
  .cs-price,
  .cs-frequency {
    color: var(--primary);
    font-size: 5em;
  }
  #pricing .cs-item.cs-popular .cs-package,
  #pricing .cs-item.cs-popular .cs-frequency,
  #pricing .cs-item.cs-popular .cs-item-text {
    opacity: 0.9;
  }
  #pricing .cs-item .cs-price {
    color: var(--primary);
  }
  #pricing .cs-item .cs-frequency {
    color: var(--primary);
  }
  #pricing .cs-item.cs-popular .cs-button-solid {
    transition: color 0.3s;
  }
  #pricing .cs-item.cs-popular .cs-button-solid:hover {
    color: var(--primary);
  }
  #pricing .cs-item.cs-popular .cs-button-solid:before {
    background-color: #fff;
  }
  #pricing .cs-package {
    /* 13px - 16px */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    text-transform: uppercase;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing .cs-flex-wrapper {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
  }
  #pricing .cs-flex-wrapper:after {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(232, 232, 232, 0.2) 0%,
      #e8e8e8 53.78%,
      rgba(232, 232, 232, 0.2) 100%
    );
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
  }
  #pricing .cs-price {
    /* font-size: var(--headerFontSize); */
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--headerColor);
  }
  #pricing .cs-frequency {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 auto;
    color: var(--bodyTextColor);
  }
  .cs-item-text-popular {
    font-size: 1.25;
    color: var(--bodyTextColor);
  }
  .cs-item-header {
    color: black;
  }
  #pricing .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 2rem 0 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #pricing .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing .cs-button-solid:hover:before {
    width: 100%;
  }
  #pricing .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    bottom: -1rem;
    left: 0rem;
    z-index: -1;
  }
  #pricing .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing .cs-container {
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #pricing .cs-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
  #pricing .cs-card-group {
    gap: 0;
    flex-direction: row;
    align-items: stretch;
  }
  #pricing .cs-item {
    height: auto;
    margin: 1.5rem 0;
  }
  #pricing .cs-item.cs-popular {
    margin: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing .cs-ul {
    width: 30%;
    display: flex;
  }
  #pricing .cs-wrapper {
    flex-direction: row;
    gap: 1.25rem;
  }
  #pricing .cs-card-group {
    margin: 0;
  }
  #pricing .cs-item {
    min-height: 25rem;
  }
}
