---
title: Lucid Web Designs
layout: "base.njk"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/page/about.css" />
<link rel="stylesheet" href="/assets/css/section/contact.css" />
<link rel="stylesheet" href="/assets/css/section/side-by-side.css" />
<link rel="stylesheet" href="/assets/css/section/services.css" />
{% endblock %}
<div id="about-bg-container">
  <div id="bg-color">
    <div id="about-background"></div>
  </div>
</div>
<h1 class="page-header-title">About Us</h1>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="side-by-side" class="top-section white-bg">
  <div class="content pt-lg">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div>
        <img
          src="../assets/images/toby-vivid.jpg"
          alt=""
          id="about-hero-image"
        />
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">
        <span class="cs-topper">Lucid Web Designs</span>
        <h2 class="cs-title">Big Business Solutions for Small Enterprises</h2>
        <p class="cs-text">
          I'm Toby V, the owner and sole developer of Lucid Web Designs. My
          journey into programming began after I suffered heatstroke at my
          physical labor job. Realizing I needed a career that kept me indoors,
          I decided to teach myself how to code. Over three years, I taught
          myself to code websites by hand, reaching out to small businesses to
          offer my help.
        </p>
        <p class="cs-text">
          What I found was eye-opening: many small businesses couldn't afford
          the high upfront costs of a new website. Those who did often ended up
          with poorly designed, outdated sites. I saw a need and decided to fill
          it. That's how I came up with my $0 down, $200 a month model. It's a
          solution that small businesses can afford, providing them with
          high-quality websites without breaking the bank.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1675" class="white-bg">
  <div class="content">
    <div class="cs-container">
      <div id="crafted-content" class="cs-content">
        <h2 class="cs-title">Crafted to Perfection</h2>
        <p class="cs-text">
          We prioritize the unique needs of each business, tailoring content to
          highlight what makes it special. Our collaborative process is
          hands-on, working closely with you to create a website you love, not
          one you simply accept.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-number">01</span>
          <h3 class="cs-h3">Original Content Only</h3>
          <p class="cs-item-text">
            We craft unique and engaging content tailored specifically to your
            company. Because every business is unique!
          </p>
        </li>
        <li class="cs-item">
          <span class="cs-number">02</span>
          <h3 class="cs-h3">Unmatched Customer Service</h3>
          <p class="cs-item-text">
            No automated systems. When you need help, you speak directly with
            the lead developer.
          </p>
        </li>
        <li class="cs-item">
          <span class="cs-number">03</span>
          <h3 class="cs-h3">Infinite Customization</h3>
          <p class="cs-item-text">
            Design tailored to your tastes. Everything is customizable.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-button-solid-container white-bg pt-md">
    <a
      class="cs-button-solid"
      aria-label="learn more about our services"
      href="/services"
      >OUR SERVICES</a
    >
  </div>
</section>

<section class="gradient">
  <div class="bg-curve-white-bottom">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="content pb-md">
    <div id="contact-1750">
      <div id="fixed-image"></div>
      <div class="cs-container">
        <!--Contact Info-->
        <div class="cs-info-group dark-text">
          <div class="cs-info">
            <div class="cs-info-subgroup">
              <hr />
              <div>
                <h3>Phone:</h3>
                <p>+1 512 645 9719</p>
              </div>
            </div>
            <div class="cs-info-subgroup">
              <hr />
              <div>
                <h3>Email:</h3>
                <p>toby.webhelp@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cs-form-group">
          <div class="cs-content">
            <h2 class="cs-title">Contact Us</h2>
          </div>
          <!--Form-->
          <form
            class="cs-form"
            id="cs-form-1750"
            name="Contact Form"
            method="post"
          >
            <label class="cs-label">
              <input
                class="cs-input"
                required
                type="text"
                id="name-1750"
                name="name"
                placeholder="Your Name"
              />
            </label>
            <label class="cs-label cs-email">
              <input
                class="cs-input"
                required
                type="email"
                id="email-1750"
                name="email"
                placeholder="Your Email Address"
              />
            </label>
            <label class="cs-label cs-phone">
              <input
                class="cs-input"
                required
                type="phone"
                id="phone-1750"
                name="phone"
                placeholder="Your Phone Number"
              />
            </label>
            <label class="cs-label">
              <textarea
                class="cs-input cs-textarea"
                required
                name="Message"
                id="message-1750"
                placeholder="Type your Message Here..."
              ></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
