---
title: Lucid Web Designs
layout: "base.njk"
---
<style>
  .bigDiv {
    padding-top: 150px;
  }
</style>

<section class="bigDiv top-section-jumboless gradient">
  <div class="content hero pt-sm">
    <div class="container flow pt-md">

      {%- set post = null -%}
      {%- for item in collections.post -%}
        <!-- Debugging output -->
        <p>Author: {{ item.data.author }}</p>
        <p>URL: {{ item.url }}</p>
        <p>Condition: {{ item.url == "/blog/url/" }}</p>

        {%- if item.url == "/blog/url/" -%}
        <p>{{ item.data.title }}</p>
          <!-- {%- set post = item -%} -->
        {%- endif -%}
      {%- endfor -%}

    </div>
  </div>
</section>