---
title: Lucid Web Designs
layout: "base.njk"
---

{%- set post = null -%}
{%- for item in collections.post -%}
  {%- if item.data.author == url and post == null -%}
    {%- set post = item -%}
  {%- endif -%}
{%- endfor -%}

{% if post %}
<section>
  <h1>{{ post.data.title }}</h1>
  <p>{{ post.date | date('MMMM D, YYYY') }}</p>
  <div>
    {{ post.content | safe }}
  </div>
</section>
{% else %}
<section>
  <p>Post not found.</p>
</section>
{% endif %}
