---
title: Blog
layout: "base.njk"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %}

<div id="blog-bg-container">
  <div id="bg-color">
    <div id="blog-background"></div>
  </div>
</div>
<h1 class="page-header-title">Blog</h1>

<section class="top-section gradient">
  <div class="content">
    <ul role="list" class="articles__list flow">
      {%- for post in collections.post | reverse -%} {% include
      "article-snippet.njk" %} {%- endfor %}
    </ul>
  </div>
</section>
