---
title: Lucid Web Designs
layout: "base.njk"
---

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

{% block head %}
<link rel="stylesheet" href="/assets/css/section/contact.css" />
{% endblock %}

<div class="fixed-bg-container">
  <div class="bg-overlay">
    <div class="fixed-background"></div>
  </div>
</div>
<h1 class="page-header-title">Contact</h1>

<section class="gradient top-section">
  <div class="bg-curve-white-bottom">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="content pb-md pt-lg">
    <div id="contact">
      <div id="fixed-image"></div>
      <div class="cs-container">
        <!--Contact Info-->
        <div class="cs-info-group dark-text">
          <div class="cs-info">
            <div class="cs-info-subgroup">
              <hr />
              <div>
                <h3>Phone:</h3>
                <p>+1 512 645 9719</p>
              </div>
            </div>
            <div class="cs-info-subgroup">
              <hr />
              <div>
                <h3>Email:</h3>
                <p>toby.webhelp@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cs-form-group">
          <div class="cs-content">
            <h2 class="cs-title">Contact Us</h2>
          </div>
          <!--Form-->
          <form
            class="cs-form"
            id="cs-form-1750"
            name="Contact Form"
            method="post"
            onsubmit="sendEmail(event)"
          >
            <label class="cs-label">
              <input
                class="cs-input"
                required
                type="text"
                id="name-1750"
                name="from_name"
                placeholder="Your Name"
              />
            </label>
            <label class="cs-label cs-email">
              <input
                class="cs-input"
                required
                type="email"
                id="email-1750"
                name="from_email"
                placeholder="Your Email Address"
              />
            </label>
            <label class="cs-label cs-phone">
              <input
                class="cs-input"
                required
                type="phone"
                id="phone-1750"
                name="contact_number"
                placeholder="Your Phone Number"
              />
            </label>
            <label class="cs-label">
              <textarea
                class="cs-input cs-textarea"
                required
                name="message"
                id="message-1750"
                placeholder="Type your Message Here..."
              ></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
