---
title: My homepage
layout: "base.njk"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/index.css" />
<link rel="stylesheet" href="/assets/css/pricing.css" />
<link rel="stylesheet" href="/assets/css/hero-and-services.css" />
<link rel="stylesheet" href="/assets/css/rpsbs.css" />
<link rel="stylesheet" href="/assets/css/about.css" />
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %}


  <section class=" top-section-jumboless gradient">
    <div class="content hero pt-md">
    <div class="container flow">
      <div class="hero__content flow">
        <h1 class="cs-title-light pt-md">We design, develop, and maintain business websites</h1>
        <p>
          No page builders. No WordPress. Just 100% hand-coded websites. Superior results starting at $200/month.
        </p>
        <div class="flex-group">
          <a href="/contact" class="cs-button-solid">GET IN TOUCH!</a>
        </div>
      </div>
      <div>
         <img src="./assets/images/3owners.png" alt="" class="hero__image">
      </div>
    </div>
    </div>
    <div class="bg-curve-white bg-curve">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
</div>
  </section>

  


  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1618" class="white-bg pt-md">
    <div class="content pt-md">
    <div class="cs-container">

        <div class="cs-content-container">
          <div class="cs-content">
            <h1 class="cs-title">Crafting Digital Excellence</h1>
            <p>
              We specialize in bespoke web design and development for small businesses across the US. Every line of code is meticulously hand-written to ensure peak performance, driving more customers to your site and boosting your business revenue.
              <span><a class="href-link" href="">LEARN MORE</a></span>
            </p>
          </div>

      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="../assets/images/mobile-icon.png"
            alt="icon"
            width="48"
            height="48"
          />
          <h3 class="cs-h3">Designed for Mobile</h3>
          <p class="cs-text">
            We prioritize mobile experiences, ensuring your site is seamless on any device, providing a smooth, engaging user experience everywhere.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="../assets/images/responsive-icon.png"
            alt="icon"
            width="48"
            height="48"
          />
          <h3 class="cs-h3">Perfectly Adaptive</h3>
          <p class="cs-text">
            Your website adapts perfectly to all screen sizes—from mobile to desktop—so new clients can access your site from anywhere.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="../assets/images/optimize-icon.png"
            alt="icon"
            width="48"
            height="48"
          />
          <h3 class="cs-h3">Optimized for Success</h3>
          <p class="cs-text">
            With 60% of internet traffic on mobile devices, we optimize your site for peak performance in search engines, ensuring you reach your audience effectively.
          </p>
        </li>
      </ul>
    </div>
    </div>
  </section>

  <section id="RPsbs-248" class="white-bg pb-lg">
    <div class="content">
    <div class="cs-container">
       <object
       class="cs-picture"
            data="../assets/images/pigbank.svg"
          ></object>
      <!-- Right Content Section-->
      <div class="cs-content">
        <h2 class="cs-title">
          <span>Zero</span> Down, <span>$200</span>/Month
        </h2>
        <p class="cs-text">
          Get a standard 5-page small business website with no upfront cost. Need more pages? We offer custom pricing based on the scope, number of additional pages, and time involved. You own your domain, content, listings, and profiles. Cancel anytime with no fees or hassle. Just $200 per month with a 12-month minimum contract.
        </p>
        <a
          class="cs-button-solid"
          aria-label="learn more about our programs"
          href=""
          >Learn More</a
        >
      </div>
    </div>
    </div>
  </section>
  
  <section id="featured-articles" class="featured-articles white-bg pt-lg pb-lg">
    <div class="content">
    <div class="container flow">
      <h2 class="section-title text-center text-title-dark">Featured articles</h2>
      <p class="text-center">
        Here are some sample articles that capture the essence of what our site offers. Dive in to get a clear understanding of our focus and expertise.
      </p>
      <ul role="list" class="articles__list flow">
        {%- for post in collections.featured | reverse -%} {% include
        "article-snippet.njk" %} {%- endfor %}
      </ul>
    </div>
    </div>
  </section>

  <section id="pricing-1790" class="gradient pt-lg">
    <div class="bg-curve-white-bottom">
   <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
    <div class="content">
    <div class="cs-container">
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <span class="cs-package">$900 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$99.99</span>
              <span class="cs-frequency"> /MO </span>
            </div>
              <ul class="cs-price-details">
              <li class="cs-item-text">$50 per Edit</li>
              <li class="cs-item-text">Includes Hosting</li>
              <li class="cs-item-text">24/7 Customer Service</li>
              <li class="cs-item-text">Lifetime Updates</li>
             </ul>
            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
          <li class="cs-item cs-popular">
            <span class="cs-package">$0 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$199.99</span>
              <span class="cs-frequency"> /MO </span>
            </div>
            <p class="cs-item-text">
             <ul class="cs-price-details">
              <li class="cs-item-text-popular">Unlimited Edits</li>
              <li class="cs-item-text-popular">Includes Hosting</li>
              <li class="cs-item-text-popular">24/7 Customer Service</li>
              <li class="cs-item-text-popular">Lifetime Updates</li>
             </ul>
            </p>

            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
          <li class="cs-item">
            <span class="cs-package">$1800 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$24.99</span>
              <span class="cs-frequency"> /MO </span>
            </div>
              <ul class="cs-price-details">
              <li class="cs-item-text">$100 per Edit</li>
              <li class="cs-item-text">Includes Hosting</li>
              <li class="cs-item-text">24/7 Customer Service</li>
              <li class="cs-item-text">Lifetime Updates</li>
             </ul>
            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>
