---
title: Lucid Web Designs
layout: "base.njk"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/page/services.css" />
<link rel="stylesheet" href="/assets/css/section/pricing.css" />
<link rel="stylesheet" href="/assets/css/section/side-by-side.css" />
<link rel="stylesheet" href="/assets/css/section/services.css" />

{% endblock %}

<div id="services-bg-container">
  
  <div id="bg-color">
    <div id="services-background"></div>
  </div>
</div>
<h1 class="page-header-title">Services</h1>
  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="side-by-side" class="top-section white-bg">
    <div class="content pt-lg pb-sm">
    <div class="cs-container">
      <object
       class="cs-picture"
            data="../assets/images/codertoon.svg"
          ></object>
      <div class="cs-content">
        <h2 class="cs-title">Web Design & Development, Reimagined</h2>
        <p class="cs-text">
          We don’t use WordPress, frameworks, or page builders. Instead, we hand-code every line, giving us complete control over the design. This ensures your website is lightning fast, free from bloated or messy code.
        </p>
        <p class="cs-text">
          Hand-crafted websites outperform most WordPress sites and drag-and-drop builders, which can cost thousands. In the digital world, speed and precision make all the difference.
        </p>
      </div>
    </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--             Side By Side Reverse             -->
  <!-- ============================================ -->

  <section id="side-by-side" class="white-bg ">
    <div class="content pt-sm pb-sm">
    <div class="cs-container">
     
      <div class="cs-content">
        <h2 class="cs-title">SEO for <script>
        document.write(new Date().getFullYear());
      </script></h2>
        <p class="cs-text">
          Promises of front-page Google results in 3 months? Beware. Unless you’ve been featured by The New York Times, it can take years to rank at the top.
        </p>
        <p class="cs-text">
         We offer cutting-edge SEO techniques for <script>
        document.write(new Date().getFullYear());
      </script>:
        </p>
        <ul class="cs-card-group">
          <li class="cs-li">
            <div class="cs-flex">
              <p><span class="checkmark">&#x2713;</span> Content and Blogs Tailored by Keywords</p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p><span class="checkmark">&#x2713;</span> Seamless Mobile-First Experience</p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p><span class="checkmark">&#x2713;</span> Pristine Code for Enhanced Web Crawling</p>
            </div>
          </li>
          <li class="cs-li">
            <div class="cs-flex">
              <p><span class="checkmark">&#x2713;</span> Responsive Design for All Devices</p>
            </div>
          </li>
        </ul>
      </div>
      <object
       class="cs-picture"
            data="../assets/images/seotune.svg"
      ></object>
    </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Services                   -->
  <!-- ============================================ -->

  <section id="services" class="white-bg">
    <div class="content pt-lg pb-md">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">Lifetime Website Updates</h2>
        <p class="cs-text">
          Google frequently updates its search algorithm standards, and web accessibility guidelines evolve as well. With our service, your website receives lifetime updates to ensure it stays current and adapts to the latest changes. Always up-to-date, always optimized.
        </p>
        <a href="" class="cs-button-solid" aria-label="learn more about us"
          >Read More</a
        >
      </div>
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <h3 class="cs-h3">
                <img
                  class="cs-icon"
                  aria-hidden="true"
                  src="../assets/images/rotate-square.svg"
                  alt="svg icon"
                  width="37"
                  height="29"
                  loading="lazy"
                  decoding="async"
                />
              Design Refresh
            </h3>
            <p class="cs-item-text">
              Want a fresh look? We’ll rebuild your website at no extra cost.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">
                <img
                  class="cs-icon"
                  aria-hidden="true"
                  src="../assets/images/wheelchair.svg"
                  alt="svg icon"
                  width="37"
                  height="29"
                  loading="lazy"
                  decoding="async"
                />
              Accessible for All
            </h3>
            <p class="cs-item-text">
              Always compliant with the latest web accessibility standards.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">

                <img
                  class="cs-icon"
                  aria-hidden="true"
                  src="../assets/images/discover.svg"
                  alt="svg icon"
                  width="37"
                  height="29"
                  loading="lazy"
                  decoding="async"
                />

              SEO Ready
            </h3>
            <p class="cs-item-text">
              Your website stays updated with Google’s search ranking guidelines.
            </p>
          </li>
          <li class="cs-item">
            <h3 class="cs-h3">
                <img
                  class="cs-icon"
                  aria-hidden="true"
                  src="../assets/images/chart-user.svg"
                  alt="svg icon"
                  width="37"
                  height="29"
                  loading="lazy"
                  decoding="async"
                />
               Business Profile Excellence
            </h3>
            <p class="cs-item-text">
              We optimize and manage your Google, Bing, and Yahoo business profiles.
            </p>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                P R I C I N G                 -->
  <!-- ============================================ -->

  <section id="pricing-1790" class="gradient">
    <div class="bg-curve-white-bottom">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
    <div class="content pt-lg">
    <div class="cs-container">
      <div class="cs-wrapper">
        <ul class="cs-card-group">
          <li class="cs-item">
            <span class="cs-package">$900 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$99.99</span>
              <span class="cs-frequency"> /Month </span>
            </div>
              <ul>
              <li class="cs-item-text">$50 per Edit</li>
              <li class="cs-item-text">Includes Hosting</li>
              <li class="cs-item-text">24/7 Customer Service</li>
              <li class="cs-item-text">Lifetime Updates</li>
             </ul>
            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
          <li class="cs-item cs-popular">
            <span class="cs-package">$0 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$199.99</span>
              <span class="cs-frequency"> /Month </span>
            </div>
            <p class="cs-item-text">
             <ul>
              <li class="cs-item-text-popular">Unlimited Edits</li>
              <li class="cs-item-text-popular">Includes Hosting</li>
              <li class="cs-item-text-popular">24/7 Customer Service</li>
              <li class="cs-item-text-popular">Lifetime Updates</li>
             </ul>
            </p>

            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
          <li class="cs-item">
            <span class="cs-package">$1800 down</span>
            <div class="cs-flex-wrapper">
              <span class="cs-price">$24.99</span>
              <span class="cs-frequency"> /Month </span>
            </div>
              <ul>
              <li class="cs-item-text">$100 per Edit</li>
              <li class="cs-item-text">Includes Hosting</li>
              <li class="cs-item-text">24/7 Customer Service</li>
              <li class="cs-item-text">Lifetime Updates</li>
             </ul>
            <a href="/contact" class="cs-button-solid cs-price-button"
              >CONTACT US</a
            >
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>

