---
title: Blog
layout: "base.njk"
---

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

<div class="section container">

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">How To Donate Us</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum hic consequuntur porro repudiandae officiis, necessitatibus vero natus nihil suscipit.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Become a Volunteer</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Quick Fundraise</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Start Donating</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>         
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">How To Donate Us</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum hic consequuntur porro repudiandae officiis, necessitatibus vero natus nihil suscipit.
            </p>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum hic consequuntur porro repudiandae officiis, necessitatibus vero natus nihil suscipit.
            </p>    
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteers.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Giving Back</span>
            <h2 class="cs-title">How To Donate Us</h2>
            <p class="cs-text">
                Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum hic consequuntur porro repudiandae officiis, necessitatibus vero natus nihil suscipit.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Become a Volunteer</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Quick Fundraise</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Start Donating</h3>
                        <p class="cs-li-text">
                            It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                        </p>
                    </div>
                </li>
            </ul>         
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1267">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our services</span>
            <h2 class="cs-title">We offer project management services</h2>
            <p class="cs-text">We can help you design your project and develop a comprehensive plan to ensure that it meets your specific needs and requirements. Our team of architects and engineers will work closely with you to create a design that is both functional and aesthetically pleasing.</p>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Learn More</a>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/two-people.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Workers
                    </h3>
                    <span class="cs-number">500+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/line-graph.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Experience
                    </h3>
                    <span class="cs-number">12 Years</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/briefcase2.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Current Projects
                    </h3>
                    <span class="cs-number">100+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-picture">
                            <img class="cs-icon" aria-hidden="true"
                                    src="https://csimg.nyc3.digitaloceanspaces.com/Services/three-bars.svg" alt="svg icon"
                                    width="37" height="29" loading="lazy" decoding="async">
                        </picture>
                        Awards Winner
                    </h3>
                    <span class="cs-number">200+</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, ex in commodo euismod, justo nisi bibendum libero,
                    </p>
                </li>
            </ul>
            <picture class="cs-background">
                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/orange-waves.png" alt="waves">
            </picture>
        </div>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                P R I C I N G                 -->
<!-- ============================================ -->

  <section id="pricing-1790">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Pricing</span>
        <h2 class="cs-title">Choose Pricing Plans</h2>
      </div>
      <a href="" class="cs-button-solid">Book Appointment</a>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Access to All CLUB4 Locations
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Fitness Floor & Cardio
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Studio Fitness & Les Mills Classes
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Tanning/Red-Light Therapy
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Guest Passes & Bottled Water
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          30-Minute Fitness Consultation
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Techniques Class
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Personal Training Options
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Lockers
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg"
            alt="checkmark"
            width="24"
            height="24"
          />
          Showers
        </li>
      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-package">Free Pass</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">$49.99</span>
            <span class="cs-frequency"> /Month </span>
          </div>
          <p class="cs-item-text">
            This month to month option allows you to workout up to four times a
            month. Reservation needed four timed.
          </p>
          <a href="" class="cs-button-solid cs-price-button"
            >Book Appointment</a
          >
        </li>
        <li class="cs-item cs-popular">
          <span class="cs-package">Weekly Pass</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">$99.99</span>
            <span class="cs-frequency"> /Month </span>
          </div>
          <p class="cs-item-text">
            This month to month option allows you to workout up to four times a
            month. Reservation needed four timed.
          </p>
          <a href="" class="cs-button-solid cs-price-button"
            >Book Appointment</a
          >
        </li>
        <li class="cs-item">
          <span class="cs-package">Monthly Pass</span>
          <div class="cs-flex-wrapper">
            <span class="cs-price">$149.99</span>
            <span class="cs-frequency"> /Month </span>
          </div>
          <p class="cs-item-text">
            This month to month option allows you to workout up to four times a
            month. Reservation needed four timed.
          </p>
          <a href="" class="cs-button-solid cs-price-button"
            >Book Appointment</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- SVG Graphic -->
  <img
    class="cs-graphic cs-light"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-texture.svg"
    alt="graphic"
    height="1920"
    width="483"
    loading="lazy"
    decoding="async"
    aria-hidden="true"
  />
  <!--Dark mode graphic, download and save locally, then open the file in your code editor and change the fill color to match the background color of the section below it on dark mode-->
  <img
    class="cs-graphic cs-dark"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-spatter.svg"
    alt="graphic"
    height="1920"
    width="483"
    loading="lazy"
    decoding="async"
    aria-hidden="true"
  />
</section>
</div>
